<%-include("../layouts/cabecera.ejs") %>
<form method="post" action="">
    <div class="form-group">
        <label for="my-input">Identificación:</label>
        <input Identificacion="my-input" class="form-control" type="text" name="Identificacion">
       
        <label for="my-input">Nombre:</label>
        <input Nombre="my-input" class="form-control" type="text" name="Nombre">
       
        <label for="my-input">Telefono:</label>
        <input Telefono="my-input" class="form-control" type="text" name="Telefono">
       
        <label for="my-input">Correo:</label>
        <input Correo="my-input" class="form-control" type="text" name="Correo">

        <label for="my-input">Direccion:</label>
        <input Correo="my-input" class="form-control" type="text" name="">
        
    </div>




 
<button class="btn btn-primary" type="submit">Guardar</button>
 
</form>
<%-include("../layouts/pie.ejs") %>