<form method="post" action="">
    <div class="form-group">
        <label for="my-input">Codigo:</label>
        <input id="my-input" class="form-control" type="text" name="codigo_libro">
       
        <label for="my-input">Nombre:</label>
        <input nombre="my-input" class="form-control" type="text" name="nombre">
       
        <label for="my-input">Autores:</label>
        <input autores="my-input" class="form-control" type="text" name="autores">
       
        <label for="my-input">ISBN:</label>
        <input ISBN="my-input" class="form-control" type="text" name="ISBN">

        <label for="my-input">Solicitado Por:</label>
        <input solicitadopor="my-input" class="form-control" type="text" name="solicitadopor">

        <label for="my-input">Año de edicion</label>
        <input ano_edicion="my-input" class="form-control" type="text" name="ano_edicion">  

        <label for="my-input">Genero</label>
        <input genero="my-input" class="form-control" type="text" name="genero">
        
    </div>




 
<button class="btn btn-primary" type="submit">Guardar</button>
 
</form>