<%-include(".. /layouts/cabecera.ejs") %>
    <form method="post" action="">
        <div class="form-group">
            <label for="my-input">Id:</label>
            <input id="my-input" class="form-control" type="text" name="Id">

            <label for="my-input">Identificacion</label>
            <input nombre="my-input" class="form-control" type="text" name="identificacion">

            <label for="my-input">Nombre:</label>
            <input autores="my-input" class="form-control" type="text" name="Nombre">

            <label for="my-input">Direccion:</label>
            <input autores="my-input" class="form-control" type="text" name="Direccion">

            <label for="my-input">Telefono:</label>
            <input Telefono="my-input" class="form-control" type="text" name="Telefono">



        </div>





        <button class="btn btn-primary" type="submit">Guardar</button>

    </form>
    <%-include(".. /layouts/pie.ejs") %>